# Ambiente virtual
venv/
.venv/

# Dados brutos e imagens geradas (pesados para o GitHub)
data/

# Pesos e checkpoints de modelos PyTorch (.pth, .pt)
*.pth
*.pt
checkpoint_*.pth

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Checkpoints de Jupyter Notebooks
.ipynb_checkpoints/

# Configurações de IDEs e editores
.vscode/
.idea/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
*.tmp